body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    text-align: center;
}

.nav-button {
    display: block;
    margin: 10px;
}
